/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {  
    margin:0; 
    padding:0; 
} 
table { 
    border-collapse:collapse; 
    border-spacing:0; 
} 
fieldset,img {  
    border:0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-style:normal; 
    font-weight:normal; 
} 
ol,ul { 
    list-style:none; 
} 
caption,th { 
    text-align:left; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-size:100%; 
    font-weight:normal; 
} 
q:before,q:after { 
    content:''; 
} 
abbr,acronym { border:0; 
}

/* end reset*/

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  float: left;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
/*header*/
div#header {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

#header img {
  width: 66px;
  margin: 0 auto;
  display: block;
}

#header h2 {
  font-size: 15px;
  font-weight: bold;
}

#header cite {
  font-style: italic;
}

/* agenda_items */
#agenda_items_table {
  width: 1024px;
  margin: auto;
}

#agenda_items_table td {
  padding: 2px;
}

.table_head, .odd {
  background-color: #cccccc;
}

/* general forms*/

form input {
  display: block;
}

/* agenda */
#agendas_list td{
  padding: 5px;
}


#agenda {
  width: 960px;
}
#agenda .date {
  margin: 50px 0 10px;
  text-align: center;
  
}
#activities .header {
  background-color: #cccccc;
  overflow: hidden;
  border: 1px solid #000000;
}
#activities .header span {
  border-right: 1px solid #000000;
}
#activities .header span.oic {
  border-right: none;
}
#activities li {
  overflow: hidden;
  width: 100%;
}
#activities span {
  display: block;
  float: left;
  text-align: center;
}
#activities .time {
/*  width: 135px;*/
  width: 17%;
  margin: 0 auto;
}
#activities .duration {
/*  width: 125px;*/
  width: 17%;
}
#activities .activity {
/*  width: 225px;*/
  width: 48%;
}
#activities .oic {
/*  width: 225px;*/
  width: 17%;
}

#uod {
  margin-top: 5px;  
  margin-bottom: 50px;
}

#uod span {
  margin-right: 10px;
}

/* user nav*/
#user_nav {
  float: right;
  font-size: 12px;
}

/* footer */
#footer {
  text-align: center;
  font-size: 9px;
}

/* login form */

#new_user_session {
  width: 217px;
  margin: 40px auto;
}
#new_user_session input {
  clear: both;
}

/* user form */
#new_user, #edit_user_1 {
  width: 291px;
  margin: 0 auto;
}

.edit_agenda_item p {
  position: relative;
  overflow: hidden;
}